.header {
	display: flex;
	justify-content: space-between;
	padding: 1.5em;
	color: rgb(225, 216, 181);
	align-items: center;
	row-gap: 0.5em;

	&__title {
		text-transform: uppercase;
		font-size: 2em;
	}

	&__subtitle {
		text-align: center;
	}
}

@media (max-width: 800px) {
	.header {
		flex-flow: column;
		justify-content: center;
	}

}