html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	background-color: rgba(58, 64, 71, 255);
	padding: 2em;
}

/* NORMALIZATION */

*, ::after, ::before {
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

h1, h2, h3, h4, h5 {
	margin: 0.5em 0;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.containter {
	display: flex;
}

.content {
	flex: 0.8;
}