.block {
	display: flex;
	flex-flow: column nowrap;
	grid-row-gap: 0.5em;
	row-gap: 0.5em;
	background: white;
	color: black;
	height: 6.875em;
	min-width: 15.625em;
	flex: 1 1;
	padding: 0.75em 1em;
	border-radius: 0.5em;
	justify-content: space-between;

	&>div {
		max-height: 1.25em;
		overflow: hidden;
		max-width: 25em;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&>div:first-child {
		font-weight: bold;
	}
}